.section-buffet {
    background-color: black;
    min-height: 100%;
    position: relative;


}

.img-buffet {
    width: 100%;
    height: 100%;
    display: block;


}

.title-buffet {
    margin: 0;
    background-image: url('../../assets/vectortitle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    width: 100%;
}

.title-buffet-container {
    text-align: center;
}

.title-buffet h3 {
    font-size: 60px;
    font-family: "Gobold", sans-serif;
    margin: 0;
}

.infoCard-container {
    position: absolute;
    top: 5%;
    left: 8%;
}



.requirements {
    margin: 0 30px;
    text-align: center;
}

.requirements h2 span {
    color: #f46d00;

}

.requirements h2 {
    color: white;
    margin: 0;
    margin-top: 20px;
    font-size: 35px;
    font-family: "Gobold", sans-serif;
}

.requirements h3 {
    background-color: #f46d00;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.includes {
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0 30px;
}

.includes h3 {
    font-size: 25px;
    margin: 12px 0;
}

.includes p {
    margin: 2px 0;
}

.container {
    color: white;
    border: 3px #f46d00 solid;
    border-radius: 20px;
    position: relative;
    margin-top: 35px;
    width: 450px;
    margin-left: 30px;
}

.title-container-info {
    position: absolute;
    border: 3px #f46d00 solid;
    font-family: "Gobold", sans-serif;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title-container-info h3 {
    margin: 0;
}

.list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 35px 0 10px;
}

.list-container p {
    margin: 2px auto;
    font-size: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.logo-packs {
    position: absolute;
    top: 5%;
    right: 8%;
}

.logo-packs img {
    width: 120px;
}

.button-buffet button {
    width: 120px;
    border: 2px #f46d00 solid;
    background-color: transparent;
    color: white;
    font-family: "Gobold", sans-serif;
    font-size: 20px;
    padding: 3px;
    border-radius: 20px;
    cursor: pointer;
    background-color: black;

}

.buttons-buffet {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-buffet-mobile {
    display: none;
}

.overlay {
    display: none;
}

.logo-packs-mobile {
    display: none;
}



@media(max-width: 1355px) {
    .title-buffet h3 {
        font-size: 50px;

    }

    .requirements h2 {
        font-size: 30px;

    }

    .requirements h3 {
        font-size: 12px;

    }

    .includes h3 {
        font-size: 22px;
        margin: 12px 0;
    }

    .includes p {
        margin: 2px 0;
        font-size: 15px;
    }


}

@media(max-width: 1200px) {
    .img-buffet {
        display: none;


    }

    .mobile-img {
        position: relative;
        width: 100%;
    }

    .img-buffet-mobile {
        width: 100%;
        display: block;

    }

    .overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.096), rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));
        z-index: 999;
    }

    .infoCard-container {
        position: static;
        margin: 40px auto;
        width: 80%;
    }

    .includes {
        margin: 0;
        text-align: center;
    }

    .requirements {
        margin: 0 auto;
        width: 60%;
    }

    .container {
        margin: 40px auto;
        width: 400px;
        align-items: center;
    }

    .logo-packs {
        display: none;
    }

    .logo-packs-mobile {
        display: block;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
    }

    .logo-packs-mobile img {
        width: 220px;
    }


    .buttons-buffet {
        position: static;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 40px;
    }

}

@media(max-width: 700px) {
    .logo-packs-mobile img {
        width: 150px;
    }

    .requirements {
        width: 80%;
    }

    .container {
        width: 250px;
    }

    .title-buffet h3 {
        font-size: 35px;

    }

    .title-container-info h3 {
        font-size: 15px;
    }


}

@media(max-width: 500px) {
    .logo-packs-mobile img {
        width: 120px;
    }
}