.form-section {
    background-image: url('../../assets/Images/form.jpg');
    background-position: center;
    height: 100vh;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 70%;
    border-radius: 30px;
}

.form-container::before,
.form-container::after {
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 30px;
}

.form-container::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(3deg);
    z-index: -1;

}

.form-container::after {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: skewY(3deg);
    z-index: -1;
}

.title-container {
    background-image: url('../../assets/vectortitle.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 20%;
    margin: 0 auto;
    padding: 25px 0;
}


.title-form {
    font-size: 60px;
    color: black;
    font-family: "Gobold", sans-serif;
}

.inputs {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 2%;
}

.input {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.input1 {
    width: 250px;
    height: 32px;
    padding: 0 5px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(231, 231, 231);

}

.input1:focus {
    outline: none;
}



.text-area {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 2%;
}


.input2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.input2 label {
    margin: 0;
}

.input2 input {
    width: 250px;
    height: 32px;
    background-color: rgb(231, 231, 231);
    border: none;
    padding: 0 5px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

}



.input2 input:focus {
    outline: none;
}

.persons-buffet {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 2%
}

.input3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.input3 label {
    margin: 0;
}

.input3 input {
    width: 250px;
    height: 32px;
    background-color: rgb(231, 231, 231);
    border: none;
    padding: 0 5px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

}

.input3 select {
    width: 265px;
    height: 32px;
    background-color: rgb(231, 231, 231);
    border: none;
    padding: 0 5px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

}




.input3 input:focus {
    outline: none;
}

.input3 select:focus {
    outline: none;
}


.button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.button button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #f46d00;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;

}

.button button:hover {
    background-color: #ee7716;
}

.errors {
    background-color: rgba(255, 0, 0, 0.767);
    color: white;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5px;

}

@media(min-width: 1450px) {
    .form-container {
        width: 45%;
        height: 50%;
    }

    .button {
        margin-top: 60px;
    }

    .title-form {
        font-size: 75px;
    }

    .input1 {
        width: 300px;
        height: 40px;
    }

    .input2 input {
        width: 300px;
        height: 40px;

    }

    .input3 input {
        width: 300px;
        height: 40px;
    }
}

@media(max-width:1200px) {
    .form-container {
        width: 700px;
        height: 90%;

    }

}

@media(max-width: 780px) {
    .form-container {
        width: 330px;
        height: 90%;
        margin: 0 auto;
        max-width: 1800px;

    }

    .title-form {
        font-size: 35px;
        color: black;

    }

    .inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 5px;
        padding: 0 15px;

    }

    .input1 {
        width: 290px;
        height: 30px;
        padding: 0 5px;
        border: none;
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
    }

    .text-area {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0;


    }

    .input2 input {
        width: 290px;
        font-size: 17px;
        height: 30px;
    }

    .input2 label {
        margin: 10px 0 0;
    }

    .persons-buffet {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .input3 input {
        width: 290px;
        font-size: 17px;
        height: 30px;
    }

    .input3 label {
        margin: 10px 0 0;
    }

    .input3 select {
        width: 300px;
    }

}