@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.galeria-section {
    background: url('../../assets/Images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    margin: 0 auto;

}

.title-galeria {
    background-image: url('../../assets/vectortitle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    width: 100%;
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.9);
    margin-top: 200px;
    margin-bottom: 50px;

}

.title-galeria h3 {
    text-align: center;
    font-size: 60px;
    font-family: "Gobold", sans-serif;
    margin: 0;
}

.carousel {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.carousel-container {
    background-image: url('../../assets/Images/grill.jpg');
    background-size: cover;
    width: 720px;
    height: 330px;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

}

.image {
    width: 600px;
    height: 330px;
}

.image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 330px;
}



.left {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;

}

.left i {
    font-size: 30px;
    background-color: black;
    color: #f46d00;
    padding: 5px;
    border-radius: 20px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    opacity: 0.8;
}

.left i:hover {
    opacity: 1;
}


.right {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

.right i {
    font-size: 30px;
    background-color: black;
    color: #f46d00;
    padding: 5px;
    border-radius: 20px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    opacity: 0.8;
}

.right i:hover {
    opacity: 1;
}

.circles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
}

.active {
    width: 10px;
    height: 10px;
    background-color: #f46d00;
    border-radius: 50%;


}

.point {
    width: 8px;
    height: 8px;
    background-color: black;
    border: 1px #f46d00 solid;
    border-radius: 50%;
    opacity: 0.7;
}


.videos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.video-galeria {
    background-color: black;
    margin-bottom: 50px;
    width: 600px;
}

@media(max-width: 810px) {

    .title-galeria {
        margin-top: 150px;
    }

    .carousel-container {
        width: 500px;
        height: 225px;
    }

    .image {
        width: 400px;
        height: 225px;
    }

    .image img {
        width: 400px;
        height: 225px;
    }

    .video-galeria {
        width: 500px;
    }

}

@media(max-width: 550px) {
    .carousel-container {
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }

    .image {
        width: 364px;
        height: 200px;
    }

    .image img {
        width: 364px;
        height: 200px;

    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    .video-galeria {
        width: 330px;
    }

    .title-galeria h3 {
        font-size: 40px;
    }
}

@media(max-width : 440px) {
    .carousel-container {
        height: 165px;

    }

    .image {
        width: 300px;
        height: 165px;
    }

    .image img {
        width: 300px;
        height: 165px;

    }
}