.imageHome {
    padding: 0;
}

.mainImage {
    margin: 0;
    padding: 0;
    background-image: url('../../assets/Images/main.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.about-packs {
    background-image: url('../../assets/Images/background.jpg');
    background-size: cover;
    background-attachment: fixed;

}

@media(max-width: 790px) {
    .mainImage {
        background-image: url('../../assets/Images/main3.jpg');
        background-size: cover;
        background-position: center center;

    }

    .about-packs {
        background-image: url('../../assets/Images/background2.jpg');
    }
}