.packs-section {
    margin-top: 20px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title-pack {
    background-image: url('../../assets/vectortitle.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    margin: 0 auto;
}

.title-pack-container {
    font-size: 60px;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Gobold', sans-serif;
    text-align: center;

}

.packs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    gap: 35px;
    margin: 20px auto 0;
    max-width: 1800px;


}


.card {
    background-color: white;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: all 900ms ease;
    width: 300px;
}

.card:hover {
    transform: translateY(-4px);
}

.imgCard {
    width: 300px;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 30px;
    object-fit: cover;
}

.info-container {
    height: 100px;
    background-color: white;
    border-radius: 30px;
}

.info-container::before {
    position: absolute;
    content: "";
    top: 60%;
    left: 0;
    width: 130%;
    height: 15%;
    transform: skewY(8deg);
    background-color: white;
    border-top-left-radius: 25%;
    display: flex;

}

.info-container h3 {
    font-size: 25px;
    margin: 0 15px;
    color: gray;
    padding: 0;
    font-family: "Gobold", sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}



.buttonPack {
    background-color: #f46d00;
    margin: 20px auto;
    width: 120px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 10px;
    cursor: pointer;
}

.buttonPack h4 {
    font-size: 17px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;


}

.buttonPack:hover {
    background-color: #f46e00ee;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;

}

.bxs-chevrons-right {
    color: black;
    cursor: pointer;
    font-size: 23px;

}

.discounts {
    background-color: black;
    color: #f46d00;
    font-family: 'Montserrat', sans-serif;
    width: 320px;
    border-radius: 10px;
    padding: 0 20px;
    text-align: center;

}



@media(min-width: 1450px) {
    .card {
        width: 330px;

    }

    .imgCard {
        width: 330px;
        height: 220px;
    }

    .info-container::before {
        top: 64%;
        left: 0;
        width: 130%;
        height: 20%;
        transform: skewY(8deg);
        border-top-left-radius: 30%;
    }


    .title-pack-container {
        font-size: 75px;
    }

}

@media(max-width: 1000px) {
    .packs-container {
        margin: 0 20px;
    }
}

@media(max-width: 800px) {
    .title-pack {
        width: 300px;
        margin: 0 auto;
    }

    .title-pack-container {
        font-size: 45px;
    }

    .packs-section {
        padding-bottom: 10px;
    }


}