body {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: black;
}

*::after::before {
    box-sizing: inherit;
}

@font-face {
    font-family: "Gobold";
    src: url('../public/Gobold\ Regular\ Italic.otf') format('opentype');
}